# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# An asterisk is a wildcard that matches zero or more characters.
*.vcxproj
*.filters
*.sdf
*.opendb
*.suo
*.sln

# Match directories anywhere in the repository.
**/Debug
